@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.display-flex {
  display: flex;
}

/* dark03 */
.light-gray {
  color: rgba(128, 128, 128, 1);
}

/* dark4 */
.dark-gray {
  color: rgba(102, 102, 102, 1);
}



/* navbar related styles */

.navbar {
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;

}

.nav-item {
  list-style: none;
  justify-content: center;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.logo-name {
  font-weight: bold;
  font-size: 2rem;
}

.navbar img {
  height: 62px;
  width: 62px;
}

.column-1,
.column-2,
.btn-primary {
  align-items: center;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FEA301;
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 12px;
}

.item-1 {
  color: #FEA301;
  font-size: 1.25rem;
  font-weight: 600;
}

.item-2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: skyblue;
}

.item-3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(5, 212, 223, 1)
}

.item-4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(93, 88, 239, 1);
}

hr {
  display: none;
}

.hamburger {
  visibility: hidden;
  /* cursor: pointer; */
}

/* banner related styles */
.banner {
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 25%;
}

.banner-title {
  font-weight: bold;
  font-size: 3.5rem;
}

.banner-content {
  width: 640px;
  margin-right: 60px;

}

.banner-description {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.btn1 {
  background-color: black;
  border-radius: 12px;
  padding: 15px 48px;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

#empower {
  color: #FEA301;
}

#vision {
  color: skyblue;
}

/* main related styles */
.section-title {
  font-weight: bold;
  font-size: 2.875rem;
  max-width: 500px;
  margin: 80px auto;
}

main {
  background-image: url('/assets/bg.png');
}

/* card related styles */
.card-section img {
  margin: 40px 100px;
}




.card-box {
  max-width: 1140px;
  margin: 100px auto;
}

.card1,
.card2,
.card3 {
  width: 365px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  padding: 30px;
  border-radius: 18px;


}

.card1 {
  background-image: linear-gradient(#DEF5FF, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.card2 {
  background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

}

.card3 {
  background-image: linear-gradient(rgba(242, 232, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}





.card1-title,
.card2-title,
.card3-title {
  text-align: center;

}


.card1-description,
.card2-description,
.card3-description {
  font-weight: 600;
  font-size: 0.943rem;
  text-align: center;
}

.card1-extension {
  text-align: center;
  color: rgba(100, 200, 255, 1);
}

.card2-extension {
  text-align: center;
  color: rgba(240, 170, 0, 1);
}

.card3-extension {
  text-align: center;
  color: rgba(135, 0, 255, 1);

}

/* icons */
.arrow-btn {
  color: white;
  background-color: #FEA301;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  font-size: 2rem;
  border: none;
  padding: 10px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* story related styles */
.story-section-title {
  font-weight: bold;
  font-size: 2.87rem;
  margin: 20px auto;
  max-width: 250px;
}

.story-section {
  background-image: linear-gradient(0deg, rgba(255, 218, 152, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.story1-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.story-description {
  font-weight: 600;
  font-size: 0.96rem;
  text-align: left;
  width: 430px;
}

/* .story-btn1 {
  background-color: skyblue;
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 25%;
  padding: 10px 20px;
} */

.story1,
.story2,
.story3,
.story4,
.story5 {
  background-color: white;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 16px;



}

.story1 {
  width: 540px;
}

.story2,
.story3,
.story4,
.story5 {
  width: 290px;
}

.story-container {
  max-width: 1160px;
  display: grid;
  grid-template-areas:
    "story1 story1 story2 story3"
    "story1 story1 story4 story5";
  gap: 20px;
  margin: 10px auto;

}

.story1 {
  grid-area: story1;
}

.story2 {
  grid-area: story2;
}

.story3 {
  grid-area: story3;
}

.story4 {
  grid-area: story4;
}

.story5 {
  grid-area: story5;
}

.story-content {
  padding: 20px;
}

.rounded-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story-btn1 {
  color: white;
  font-size: 16px;
  border-radius: 4em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: skyblue;
  position: relative;
  left: 30px;
  bottom: 40px;
}

.story-btn2 {
  color: white;
  font-size: 16px;
  border-radius: 4em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  left: 20px;
  bottom: 20px;
}

.story-btn3 {
  color: white;
  font-size: 16px;
  border-radius: 4em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: rgba(93, 88, 240, 1);
  position: relative;
  left: 20px;
  bottom: 20px;

}

.story-btn4 {
  color: white;
  font-size: 16px;
  border-radius: 4em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  left: 20px;
  bottom: 20px;

}

.story-btn5 {
  color: white;
  font-size: 16px;
  border-radius: 4em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  left: 20px;
  bottom: 20px;


}

/*last button related styles */
.last-btn {
  background-color: black;
  color: white;
  border-radius: 12px;
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 1.24rem;
  margin: 50px 0px;

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer related styles */
footer{
  background-color: rgba(1, 172, 253, 1);
}


.logo{
  filter: grayscale(80%);
  width: 80px;
  height: 80px;
}
.logo-title{
  align-items: center;
  gap: 10px;
}

.footer-description{
  width: 400px;
  color: white;
}
.footer-title{
  font-weight: bold;
  font-size: 2.62rem;
  color: white;
}
.about-school ul li{
  list-style: none;
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-left: -30px;

}
.about-school {
  color: white;
 
}
.school{
  font-weight: bold;
  font-size: 1.5rem;
}
.keep img{
  gap:10px;
}
.keep {
  color: white;
  font-weight: bold;
  font-size: 1.62rem;
}

.footer-container{
  
  display: flex;
  justify-content:space-evenly ;
  
  align-items: center;
  /* margin: 0px 200px; */
}



@media screen and (max-width:576px) {

  .logo-name,
  .column-2,
  .btn-primary {
    display: none;
  }

  .fa-bars {
    visibility: visible;
  }

  .navbar {
    border: 1px solid orange;
    padding: 10px;

  }

  * {
    margin: 0px;
  }

  .banner {
    flex-direction: column-reverse;
    margin: 0px;
  }

  .banner img {
    width: 100%;
  }

  .banner-title {
    text-align: center;
    font-size: 2rem;
  }

  .banner-description {
    text-align: center;
  }

  .banner-content {
    width: 100%;
    margin: 10px;

  }

  .btn1 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 80px;

  }

  .card-box {
    flex-direction: column;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px;


  }

  .section-title {
    font-size: 1.625rem;
    margin: 20px 20px 0px 20px;
  }

  .arrow,
  .arrow-btn {
    visibility: hidden;
  }

  .story1 {
    display: none;
  }

  .story-container {
    grid-template-columns:
      "story2 story3"
      "story4 story5";
    width: 100%;
    gap: 5px;
    
  }
  
  .story-container img{
    width: 100%;
  }

  .story2,
  .story3,
  .story4,
  .story5{
    width: 100%;
    height: 100%;
  }
  .story-content {

    padding:5px;}

    
    .story-title {
      font-weight: bold;
      font-size: 0.5rem;
    }
    .story-btn2,.story-btn4 {
      color: white;
      font-size: 10px;
      border-radius: 4em;
      padding: 0.5em 1em;
      border: none;
      outline: none;
      background-color: rgba(149, 178, 38, 1);
      position: relative;
      left: 10px;
      bottom: 15px;
    }
    .story-btn3 {
      color: white;
      font-size: 10px;
      border-radius: 4em;
      padding: 0.5em 1em;
      border: none;
      outline: none;
      background-color: rgba(93, 88, 240, 1);
      position: relative;
      left: 10px;
      bottom: 15px;
    
    }
    .story-btn5 {
      color: white;
      font-size: 10px;
      border-radius: 4em;
      padding: 0.5em 1em;
      border: none;
      outline: none;
      background-color: rgba(149, 178, 38, 1);
      position: relative;
      left: 10px;
      bottom: 15px;
    
    
    }
    .story-section{
      margin-left: none;
    }
    .last-btn {
      background-color: black;
      color: white;
      border-radius: 12px;
      width: 50%;
      height: 100%;
      font-weight: bold;
      font-size: 1.24rem;
      margin: 50px 0px;
    
    }
    .footer-container{
      flex-direction: column;
      
    }

    .logo-title{
      width: 50%;
    }
    .footer-description{
      width: 100%;
      margin-bottom: 20px;
      margin-left: 10px;
    }
    .about-school{
      margin-left: -150px;
      margin-bottom: 20px;
    }
    .keep{
      margin-left: -110px;
    }
    
    
    
    
  
}